 # Partie A

In [11]:
#1
alice = ('Alice' , 20 ,  15.5 )
bob = ('Bob' , 22 , 14.0)
clara = ('Clara' , 19, 16.2)

etudiants = [alice , bob , clara]
print(etudiants )

[('Alice', 20, 15.5), ('Bob', 22, 14.0), ('Clara', 19, 16.2)]

In [13]:
#2 
print(etudiants[-1])
print(etudiants[0][2])
print(etudiants[1]) 

noms , ages , moyenne = etudiants[1]
print(noms)
print(ages)
print(moyenne)

('Clara', 19, 16.2)
15.5
('Bob', 22, 14.0)
Bob
22
14.0

In [15]:
david = ('David' , 21 , 15.0)
etudiants.append((david))
print(etudiants)

[('Alice', 20, 15.5), ('Bob', 22, 14.0), ('Clara', 19, 16.2), ('David', 21, 15.0)]

In [17]:
#4
Moyennes =(etudiants[0][2] , etudiants[1][2] , etudiants[2][2] , etudiants[3][2])
print(Moyennes)

moyenneGenerale = sum(Moyennes)/len(Moyennes)
print(moyenneGenerale)

(15.5, 14.0, 16.2, 15.0)
15.175

# Partie B

In [20]:
#1

lila = ("Lila" , "mage" , 100)
torn = ("Torn" , "guerrier" , 150)
eryn = ("Eryn" , "archer"  , 120)

personnages = [lila , torn , eryn ]
print(personnages )

[('Lila', 'mage', 100), ('Torn', 'guerrier', 150), ('Eryn', 'archer', 120)]

In [22]:
#2
personnages[1] = ("Torn" , "guerrier" , 130)
print(personnages)

torn_maj =(torn[0 ], torn[1] , torn[2]-20)
personnages[1] = torn_maj
print(personnages)

[('Lila', 'mage', 100), ('Torn', 'guerrier', 130), ('Eryn', 'archer', 120)]
[('Lila', 'mage', 100), ('Torn', 'guerrier', 130), ('Eryn', 'archer', 120)]

In [24]:
#3

nom , classe , pv = personnages[1]

print(f"Nom du personnage: {nom} , Classe : {classe}, Point de vie : {pv}")
print(f"Nom du personnage: {personnages[1][0]} , Classe: {personnages[1][1]} , Point de vie : {personnages[1][2]}")

Nom du personnage: Torn , Classe : guerrier, Point de vie : 130
Nom du personnage: Torn , Classe: guerrier , Point de vie : 130